<div class="container">
  <h4>public会員情報編集</h4>
  <%= form_with model:@customers, url:edit_customer_path do |f| %>
  
  <div class="row">
    <label class="col-2">氏名</label>
    <div class="field col-2 mr-3">
      <%= f.text_field :last_name %>
    </div>
    <div class="field col-2">
      <%= f.text_field :first_name %>
    </div>
  </div>

  <div class="row">
    <label class="col-2">フリガナ</label>
    <div class="field col-2 mr-3">
      <%= f.text_field :last_name_kana %>
    </div>
    <div class="field col-2">
      <%= f.text_field :first_name_kana %>
    </div>
  </div>
  
  <div class="row">
    <p class="col-2">郵便番号</p>
    <div class="field col-2">
      <%= f.text_field :postal_code %>
    </div>
  </div>

  <div class="row">
    <p class="col-2">住所</p>
    <div class="col-6">
      <%= f.text_field :address %>
    </div>
  </div>
  
  <div class="row">
    <label class="col-2">電話番号</label>
    <div class="field col-2">
    <%= f.text_field :telephone_number %>
    </div>
  </div>
  
  <div class="row">
    <label class="col-2">メールアドレス</label>
    <div class="field col-2">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>

    <div class="actions d-grid">
      <%= f.submit "編集内容を保存", class:"btn btn-success" %>
    </div>
  <% end %>
</div>