<div class="container">
    <div>
      <h4>管理者ログイン</h4>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="offset-3">
        <div class="field row mb-3">
          <%= f.label :"メールアドレス",class:"col-2 col-form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-4" %>
        </div>

        <div class="field row mb-3">
          <%= f.label :"パスワード", class:"col-2 col-form-label" %>
          <%= f.password_field :password, autocomplete: "current-password", class:"col-4" %>
        </div>

        <div class="offset-2">
          <%= f.submit "ログイン", class:"btn btn-primary" %>
        </div>
      </div>
      <% end %>
    </div>
</div>