<div class="container">

  <h4><%= @customer.last_name %>さんの会員詳細</h4>
  
  <div class="row">
    <label class="col-2">会員ID</label>
    <div class="col-4">
      <%= @customer.id %>
    </div>
  </div>
  <div class="row">
    <label class="col-2">氏名</label>
    <div class="col-4">
      <%= @customer.lase_name %> <%= @customer.first_name %>
    </div>
  </div>
  <div class="row">
    <label class="col-2">フリガナ</label>
    <div class="col-4">
      <%= @customer.last_name_kana %><%= @customer.first_name_kana %>
    </div>
  </div>
  <div class="row">
    <label class="col-2">郵便番号</label>
    <div class="col-4">
      <%= @customer.postal_code %>
    </div>
  </div>
  <div class="row">
    <label class="col-2">住所</label>
    <%= @customer.address %>
  </div>
  <div class="row">
    <label class="col-2">電話番号</label>
    <div class="col-4">
      <%= @customer.telephone_number %>
    </div>
  </div>
  <div class="row">
    <label class="col-2">メールアドレス</label>
    <div class="col-4">
      <%= @customer.email %>
    </div>
  </div>
  
</div>
