<div class="container">

  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>
  
  
    <div class="field row">
      <p class="col-2">氏名</p>
      <div class="col-2">
        <%= f.text_field :last_name %>
      </div>
      <div class="col-2">
        <%= f.text_field :first_name %>
      </div>
    </div>
    
    <div class="field row">
      <p class="col-2">フリガナ</p>
      <div class="col-2">
        <%= f.text_field :last_name_kana %>
      </div>
      <div class="col-2">
        <%= f.text_field :first_name_kana %>
      </div>
    </div>
    
    <div class="field row">
      <p class="col-2">郵便番号</p>
      <div class="col-2">
        <%= f.text_field :post_code %>
      </div>
    </div>
    
    <div class="field row">
      <p class="col-2">住所</p>
      <div class="col-6">
        <%= f.text_field :address %>
      </div>
    </div>
    
    <div class-"field row">
      <p class="col-2">電話番号</p>
      <div class="col-2">
        <%= f.text_field :telephone_number %>
      </div>
    </div>
    
    <div class="field row">
      <%= f.label :email, class:"col-2" %>
      <div class="col-2">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>
  
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  
    
  
    <div class="actions">
      <%= f.submit "編集内容を保存" %>
    </div>
  <% end %>
  
  <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
  
  <%= link_to "Back", :back %>
</div>