<div class="container">
  <h4>注文情報確認</h4>
  <div class="row">
    <table>
      <thead>
        <tr>
          <th scope="col">商品名</th>
          <th scope="col">単価（税込）</th>
          <th scope="col">数量</th>
          <th scope="col">小計</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="col"><%= order.name %></td>
          <td scope="col"><%= order.price %></td>
          <td scope="col"><%= order.quantity %></td>
          <td scope="col"><%= order.price %>*<%= order.quantity %></td>
        </tr>
      </tbody>
    </table>
    <table>
      <tbody>
        <tr>
          <th scope="col">送料</th>
          <td scope="col"><%= order.postage %></td>
        </tr>
        <tr>
          <th scope="col">商品合計</th>
          <td scope="col"></td>
        </tr>
        <tr>
          <th scope="col">請求金額</th>
          <td scope="col"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <h5>支払方法</h5>
    <%= order.payment_method %>
  </div>
  <div class="row">
    <h5>お届け先</h5>
    <%= order.post_code %>
    <%= order.address %>
  </div>
  
</div>

