<div class="container"></div>

  <h4>注文情報入力</h4>
  <%= form_with model:@order do |f| %>
  <p>支払方法</p>
    <%= f.radio_button:payment_method,"credit_card" %>
    <%= f.label:payment_method_credit_card,"クレジットカード" %>
    <%= f.raido_button:payment_method,"transfer" %>
    <%= f.label:payment_method_transfer,"銀行振り込み" %>
  <% end %>
  <p>お届け先</p>
  <% @orders.each do |order| %>
    <%= order.post_code %>
    <%= order.address %>
    <%= order.last_name %><%= order.first_name %>
  <% end %>
  <%= link_to 
  <div class="btn btn-primary">確認画面へ進む</div>