<div class="container">
  <h4>ログイン</h4>
  <p>会員の方はこちらからログイン</p>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field mb-2">
        <%= f.label :"メールアドレス", class:"col-2 col-form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-4" %>
      </div>
    
      <div class="field">
        <%= f.label :"パスワード", class:"col-2 col-form-label" %>
        <%= f.password_field :password, autocomplete: "current-password", class:"col-4" %>
      </div>
    
      <div class="row offset-2">
        <%= f.submit "ログイン", class:"col-2 btn btn-primary" %>
      </div>
    <% end %>
  
  <div class="mt-5 mx-auto">
    <p>会員登録がお済でない方</p>
    <%= link_to "こちら", new_customer_registration_path %>　から新規登録を行ってください。
  </div>
</div>
