<div class="container">
  <div class="row">
    <h4 class="my-3">商品詳細</h4>
  </div>
  
  <div class="row justify-content-center mb-3">
    
    <div class="col-3 text-center">
      <%= image_tag @item.get_image,size:"200x150" %>
    </div>

    <div class="col-5 text-center">
      <table>
        <tr>
          <td style="width:45%">
            <h4><%= @item.name %></h4>
          </td>
        </tr>
        <tr>
          <td>
            <%= @item.introduction %>
          </td>
        </tr>
        <tr>
          <td>
            <span style="font-size:24px">￥<%= @item.add_tax_price %></span><span style="font-size:10px">（税込）</span>
          </td>
        </tr>
      </table>
      <%= form_with model:@cart_item, url:cart_items_path, method: :post, local: true do |f| %>
        <%= f.select :amount,*[1..10] %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.submit "カートに入れる", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>