<div class="container">
  <div class="row">
    <div class="col-3">
      <%= image_tag @item.get_image,size:"200x150" %>
    </div>

    <div class="col-4">
      <%= @item.name %><br>
      <%= @item.introduction %><br>
      ￥<%= @item.price %>　（税込）

      <%= form_with model:@cart_item, url:cart_items_path, method: :post, local: true do |f| %>
        <%= f.select :amount,*[1..5] %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.submit "カートに入れる" %>
      <% end %>
    </div>
  </div>
</div>